* {
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
background-color: #002432 ;
display: flex;
justify-content: space-between;
padding: 20px;
height: 60px;
}

header img{
    width: 80px;
    height: 30px;
}
header a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: "Kameron", serif;
}


.show {
    background-color: #002432;
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 80%;
    height: 100%;
}

.show ul{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
    gap: 40px;
    font-size: larger;
    
}

.fa-bars {
    font-size: xx-large;
    color: white;
}

.fa-xmark {
    color: white;
    font-size: xx-large
    
}
.fa-house {
 margin-right: 5px;
}

.fa-wrench {
margin-right: 5px;
}

.fa-user {
margin-right: 5px;
}

/*FORSIDE*/

.hero {
    background-color: #42767e;
    
}

.hero-text {
    color: white;
    padding: 75px;
    font-family: "Kameron", serif;
}

h2 {
    font-size: larger;
}

img {
    max-width: 100%;
}

.cards {
justify-content: space-around;
padding: 10px;
margin-top: 20px;
flex-wrap: wrap;
display: flex
}

.card {
    border-radius: 5px;
}

.card img {
    border-radius: 5px 5px 0px 0px;
    max-width: 100%;
}

.card div {
    padding: 5px;
}

section {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: grey solid 1px;
    box-shadow: 0 0 4px grey;
    max-width: 450px;
    flex-direction: column;
    gap: 10px
}

.a1 {
    display: flex;
    align-items: start;
    color: orange;
    font-family: "Kameron", serif;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
}

.p1 {
    font-family: "Kameron", serif;
    font-size: larger;
    margin-left: 5px;
    margin-bottom: 5px;
    color: black;
    
}


/* Mobilversion */
@media screen and (max-width: 799px) {
header > nav {
    display: none;

    }

    header ul {
        list-style-type: none;
        padding: 20px;
        font-size: larger;
    }
}

/* Desktop Version*/
@media screen and (min-width: 800px) {
    header > .fa-bars {
        display: none;
    }
    header ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 20px;
    }
}

/* VÆRKTØJER & VEJLEDNING*/


.programoversigt {
    font-family: "Kameron", serif;
    background-color: #002432;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}
.programmer1 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: xx-large;
    flex-wrap: wrap;
    gap:50px;
    padding: 10px;

}


.programmer1 img {
    max-width: 70px;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}

.programmer1 h2{
    font-size: xxx-large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 20px;
}

.programmer1 a {
    font-family: "Kameron", serif;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    color:black;
    border-radius: 50px;
    border: black solid 1px
}

.programmer2{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: xx-large;
    flex-wrap: wrap;
    gap:50px;
    padding: 10px;
}

.programmer2 img {
    max-width: 70px;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}
.programmer2 a {
    font-family: "Kameron", serif;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    color:black;
    border-radius: 50px;
    border: black solid 1px
}


.programmer2 h2 {
    font-size: xxx-large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 20px;
}


/*SUPERBRUGERE*/

.superbrugereoversigt{
font-family: "Kameron", serif;
    background-color: #002432;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;

}
.superb {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px
}

.superb h2 {
   font-size: x-large;
   color: #002432;
   font-family: "Kameron", serif;

}

.superb img {
    max-width: 120px;
    border-radius: 70px;
    vertical-align: middle;
}

.grid{
    padding: 10px;
    border-radius: 20px;
    border: #42767e solid 2px;
}

.superb p {
    font-weight: 600;
    font-family: "Kameron", serif;
    margin-top: 10px
}

.superb h3 {
    margin-top: 10px;
    font-family: "Kameron", serif;
}

.superb h4 {
    font-size: large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 10px;
}

.superb h5 {
    font-size: larger;
    font-family: "Kameron", serif;
    font-weight: 300;
    margin-top: 10px;
    color: black
    
}


/* WORD */

.hero-word {
    color: #002432;
    padding: 50px;
    font-family: "Kameron", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: black solid 2px
}


.hero-word img {
    width: 150px;
    border-radius: 20px;
}

.word-nav{
    display: flex;
    font-size: medium;
    font-family: "Kameron", serif;
    padding: 5px;
    color: #42767e ;
    gap: 10px;
}

.word-nav a{
    text-decoration: none;
    color: #42767e
}

.links-1 {
    font-family: "Kameron", serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


@media (max-width: 600px) {
.links-1 {
    font-family: "Kameron", serif;
    display: grid;
    grid-template-rows: auto;
}

}
.border {
    border: 1px #002432 solid;
    padding: 10px;
}
.border a {
    margin-top: 10px;
    font-size: large;
    color: #002432
}

.h2-word {
    font-size: x-large;
    font-family: "Kameron", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    background-color: #42767e;
}


.video {
    display: flex;
    justify-content: center;
}


.word-brugere{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pic-word {
    padding: 10px;
    border-radius: 20px;
    border: #42767e solid 2px;
    color: black;
    
}

.pic-word img {
    max-width: 120px;
    border-radius: 70px;
    vertical-align: middle;
}

.pic-word h2 {
    font-size: x-large;
    color: #002432;
    font-family: "Kameron", serif;
    color: black
 }

.pic-word h3 {
    font-size: larger;
    font-family: "Kameron", serif;
    font-weight: 300;
    margin-top: 10px;
    color: black
    
}

.undertekster {
    display: flex;
    justify-content: center;
    font-family: "Kameron", serif; 
    font-size: medium;
    font-style: italic;
    margin-bottom: 10px;
    
}


.undertekster img {
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.undertekster p{
margin-left: 3px;
}



/*Footer*/

.footer {
    background-color: #002432;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-family: "Kameron", serif;
    margin-top: 40px;
}

.footer img {
    width: 100px;
}

.footer a {
    color: #42767e;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}


.footer-indhold {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.footer-streg {
    width: 1px;
    height: 40px;
    background-color: #42767e;
}

.footer-logo, .footer-link, .footer-kontakt {
    margin: 10px;
}

/*Mobil*/
@media (max-width: 600px) {
    .footer-indhold {
        display: grid;
        grid-template-rows: auto;
    }

    .footer-streg {
        width: 200px;
        height: 1px;
    }
}


/* Guide til oplæsning*/


.guide-overskrift {
    font-family: "Kameron", serif;
    color: #002432;
    padding: 75px;
    border: black 2px solid;
}

.oplæser h2 {
    color: #42767e;
    font-family: "Kameron", serif;
   margin-left: 75px;
   margin-top: 20px;
   font-size: x-large;

}

.oplæser p {
    color: black;
    font-family: "Kameron", serif;
    margin-left: 75px;
    margin-top: 10px;
    font-size: larger;
    margin-bottom: 79px;
}

 /* Hele Website */

 a:hover {
    color: darkgrey;
 }

 .top a {
    display: flex ;
    font-size: x-large;
    justify-self: center;
    margin-top: 30px;
    text-decoration:none;
    color: black;
    border: #42767e solid 2px;
    padding: 10px;
    border-radius: 50px;
    font-family: "Kameron", serif;
}

.top a:hover {
    color: darkgrey;

}

.fa-arrow-up {
    margin-left: 4px;
    
}

@media (max-width: 600px) {
    .word-brugere{
        font-family: "Kameron", serif;
        display: grid;
        grid-template-rows: auto;
    }
}