* {
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
background-color: #002432 ;
display: flex;
justify-content: space-between;
padding: 20px;
height: 60px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: "Kameron", serif;
}


.show {
    background-color: #002432;
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 80%;
    height: 115%;
}

.show ul{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
    gap: 40px;
    font-size: larger;
    
}

.fa-bars {
    font-size: xx-large;
    color: white;
}

.fa-xmark {
    color: white;
    font-size: xx-large
    
}
.fa-house {
 margin-right: 5px;
}

.fa-wrench {
margin-right: 5px;
}

.fa-user {
margin-right: 5px;
}

/*FORSIDE*/

.hero {
    background-color: #42767e;
    
}

.hero-text {
    color: white;
    padding: 75px;
    font-family: "Kameron", serif;
}

h2 {
    font-size: larger;
}

img {
    max-width: 100%;
}

.cards {
justify-content: space-around;
padding: 10px;
margin-top: 50px;
flex-wrap: wrap;
display: flex
}

.card {
    border-radius: 5px;
}

.card img {
    border-radius: 5px 5px 0px 0px;
    max-width: 100%;
    height: 354.203px;
    width: 387.984px;
}

.card div {
    padding: 5px;
}

section {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: grey solid 1px;
    box-shadow: 0 0 4px grey;
    max-width: 400px;
    flex-direction: column;
    align-items: start;
    gap: 10px
}

.a1 {
    display: flex;
    align-items: start;
    color: orange;
    font-family: "Kameron", serif;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
}

.p1 {
    font-family: "Kameron", serif;
    font-size: larger;
    margin-left: 5px;
    margin-bottom: 5px;
    color: black;
    
}


/* Mobilversion */
@media screen and (max-width: 799px) {
header > nav {
    display: none;

    }

    header ul {
        list-style-type: none;
        padding: 20px;
        font-size: larger;
    }
}

/* Desktop Version*/
@media screen and (min-width: 800px) {
    header > .fa-bars {
        display: none;
    }
    header ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 20px;
    }
}

/* VÆRKTØJER & VEJLEDNING*/


.programoversigt {
    font-family: "Kameron", serif;
    background-color: #002432;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px
}
.programmer1 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: xx-large;
    flex-wrap: wrap;
    gap:50px;
    padding: 10px;
    border: grey solid 1px

}


.programmer1 img {
    max-width: 70px;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}

.programmer1 h2{
    margin-right: 10px;
    font-size: xxx-large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 20px;
}

.programmer1 a {
    font-family: "Kameron", serif;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    color:black;
    border-radius: 50px;
    border: black solid 1px
}

.programmer2{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    font-size: xx-large;
    flex-wrap: wrap;
    gap:50px;
    padding: 10px;
    border: grey solid 1px
}

.programmer2 img {
    max-width: 70px;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}
.programmer2 a {
    font-family: "Kameron", serif;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    color:black;
    border-radius: 50px;
    border: black solid 1px
}


.programmer2 h2 {
    font-size: xxx-large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 20px;
}


/*SUPERBRUGERE*/

.superb {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
    margin-left: 5px;
}

.superb h2 {
   font-size: x-large;
   color: #002432;
   font-family: "Kameron", serif;

}

.superb img {
    max-width: 120px;
    border-radius: 70px;
    vertical-align: middle;
}

.grid{
    padding: 10px;
    border-radius: 20px;
    border: black solid 1px;
}

.superb p {
    font-weight: 600;
    font-family: "Kameron", serif;
    margin-top: 10px
}

.superb h3 {
    margin-top: 10px;
    font-family: "Kameron", serif;
}

.superb h4 {
    font-size: large;
    color: #002432;
    font-family: "Kameron", serif;
    margin-top: 10px;
}

/* WORD */

.hero-word {
    color: #002432;
    padding: 50px;
    font-family: "Kameron", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: black solid 2px
}


.hero-word img {
    width: 150px;
    border-radius: 20px;
}

.links-1 {
    font-family: "Kameron", serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: 20px;
    margin-top: 20px;
    gap: 40px;
}

.border {
    border: 1px black solid;
}

.h2-word {
    font-size: x-large;
    font-family: "Kameron", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #002432;
    color: white;
    padding: 10px
}

.border a {
    margin-top: 10px;
    font-size: large;
}

.video {
    display: flex;
    justify-content: center;
}